<ion-content id="ion-content">
  <div id="page-container">
    <div class="container pb-5 pt-3">
      <div class="row pb-3">
        <div class="col-md-12 col-lg-12 pb-3">
          <h4><b>Administrar Empleados</b></h4>
          <h6>En esta pestaña se podrá visualizar, modificar y eliminar empleados.</h6>
        </div>
        <div class="col-md-12 col-lg-12 pb-3">
          <div class="row">
            <div class="col-md-6 pb-3">
              <div style="width: 100%;width: 100%; height: 100%; display: flex; align-items: center;">
                <ion-item style="width: 100%;">
                  <ion-select style="width: 100%;" placeholder="Selecciona el campo a filtrar" (ionChange)="filter = $event.target['value'] === 'All' ? '' : $event.target['value']">
                    <ion-select-option *ngFor="let cat of types" [value]="cat.id">{{cat.name}}</ion-select-option>
                    <ion-select-option value="All">Ninguno</ion-select-option>
                  </ion-select>
                </ion-item>
              </div>
            </div>
            <div class="col-md-6 pb-3">
              <div style="width: 100%;width: 100%; height: 100%; display: flex; align-items: center;">
                <input class="form-control" type="text" [(ngModel)]="searchInput[filter]" placeholder="Texto a buscar..." [disabled]="filter === ''">
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <table class="table table-hover table-dynamic" style="width:100%">
                <thead class="datatable-header">
                  <tr>
                    <th style="width:64px"></th>
                    <th (click)="sort('documentoValor')" class="btn-style">
                      Identificación
                      <ion-icon name="arrow-down-outline" *ngIf="sortDirection == 1 && orderHeader === 'documentoValor'"></ion-icon>
                      <ion-icon name="arrow-up-outline" *ngIf="sortDirection == 2 && orderHeader === 'documentoValor'"></ion-icon>
                    </th>
                    <th (click)="sort('nombre')" class="btn-style">
                      Nombre
                      <ion-icon name="arrow-down-outline" *ngIf="sortDirection == 1 && orderHeader === 'nombre'"></ion-icon>
                      <ion-icon name="arrow-up-outline" *ngIf="sortDirection == 2 && orderHeader === 'nombre'"></ion-icon>
                    </th>
                    <th (click)="sort('direccion')" class="btn-style">
                      Dirección
                      <ion-icon name="arrow-down-outline" *ngIf="sortDirection == 1 && orderHeader === 'direccion'"></ion-icon>
                      <ion-icon name="arrow-up-outline" *ngIf="sortDirection == 2 && orderHeader === 'direccion'"></ion-icon>
                    </th>
                    <th (click)="sort('telefono')" class="btn-style">
                      Teléfono
                      <ion-icon name="arrow-down-outline" *ngIf="sortDirection == 1 && orderHeader === 'telefono'"></ion-icon>
                      <ion-icon name="arrow-up-outline" *ngIf="sortDirection == 2 && orderHeader === 'telefono'"></ion-icon>
                    </th>
                    <th (click)="sort('rango')" class="btn-style">
                      Tipo
                      <ion-icon name="arrow-down-outline" *ngIf="sortDirection == 1 && orderHeader === 'rango'"></ion-icon>
                      <ion-icon name="arrow-up-outline" *ngIf="sortDirection == 2 && orderHeader === 'rango'"></ion-icon>
                    </th>
                    <th>
                      Opciones
                    </th>
                  </tr>
                </thead>
                <tbody class="datatable-body">
                  <tr *ngFor="let user of users | paginate: { itemsPerPage: 10, currentPage: p } | orderBy: orderHeader: isDescOrder | filterBy: searchInput ; let i = index">
                    <td>
                      <ion-label>
                        <ion-avatar>
                          <img [src]="user.foto"/>
                        </ion-avatar>
                      </ion-label>
                    </td>
                    <td class="align-middle">
                      <ion-label>
                        <h3 class="table-dynamic-hide"><b>Identificación</b></h3>
                        {{user.documentoValor}}
                        <h3><small>{{user.documentoTipo === 0 || user.documentoTipo === '0' ? "Cédula" : (user.documentoTipo === 1  || user.documentoTipo === '1' ? 'RUC'  : 'Otro') }}</small></h3>
                      </ion-label></td>
                    <td class="align-middle">
                      <ion-label>
                        <h3 class="table-dynamic-hide"><b>Nombre</b></h3>
                        <h2>{{user.nombre}} {{ user.apellido }}</h2>
                        <h3>{{user.email}}</h3>
                      </ion-label>
                    </td>
                    <td class="align-middle">
                      <ion-label>
                        <h3 class="table-dynamic-hide"><b>Dirección</b></h3>
                        {{ user.direccion }}
                        <h3>{{user.canton}}, {{user.provincia}}</h3>
                      </ion-label>
                    </td>
                    <td class="align-middle">
                      <ion-label>
                      <h3 class="table-dynamic-hide"><b>Teléfono</b></h3>
                      {{ user.telefono }}
                      </ion-label>
                    </td>
                    <td class="align-middle">
                      <ion-label>
                        <h3 class="table-dynamic-hide"><b>Tipo</b></h3>
                        {{user?.rango === 1 ? 'Administrador' : 'Empleado'}}
                      </ion-label>
                    </td>
                    <td class="align-middle">
                      <div class="options-btn">
                        <button type="button" class="btn btn-primary skyler" (click)="modify(user)"><ion-icon name="pencil-outline"></ion-icon></button>
                        <button type="button" class="btn btn-danger redline" (click)="delete(user)"><ion-icon name="trash-outline"></ion-icon></button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="p = $event"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>