<div id="custom-box">
  <div class="box-title">Recupera tu contraseña</div>
  <form [formGroup]="forgotForm" (ngSubmit)="submitForgot()">
    <div class="input-box xl fp">
      <p><b>¿Te haz olvidado tu contraseña?</b><br/>No te preocupes, podrás recuperarla ingresando tu correo. Si encontramos que tu correo es válido, te enviaremos un mensaje al mismo para que puedas recuperar tu cuenta.</p>
    </div>
    <div class="input-box xl">
      <ion-item>
        <ion-label>Email:</ion-label>
        <ion-input
          type="email"
          formControlName="email"
          placeholder="ejemplo@hotmail.com"
        ></ion-input>
        <ion-icon *ngIf="forgotForm.valid" name="checkmark-circle-outline" color="success"></ion-icon>
      </ion-item>
      <div *ngIf="forgotForm.controls['email'].invalid && (forgotForm.controls['email'].dirty || forgotForm.controls['email'].touched)" class="alert" >
        <p *ngIf="forgotForm.controls['email'].errors.required">Debes ingresar el correo.</p>
        <p *ngIf="forgotForm.controls['email'].errors.email">Es necesario que ingreses un correo válido.</p>
      </div>
    </div>
  </form>
  <div style="text-align: center;">
    <button class="btn btn-primary skyler" (click)="submitForgot()" style="margin: 0 auto;margin-top:20px;width:auto;min-width: 40%;">Recuperar</button>
  </div>
  <div class="help-links">
    <a class="back" (click)="dismiss()">Regresar</a>
  </div>
</div>