<ion-content id="ion-content">
  <ngx-spinner *ngIf="data" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-spin"
    [fullScreen]="true">
    <p style="color: white"> Cargando... </p>
  </ngx-spinner>
  <div id="page-container">
    <div class="container pb-5 pt-3">
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <h4><b>{{data ? "Modificar" : "Agregar"}} Pedido</b></h4>
          <h6>{{data ? "Completa todos los campos correctamente para modificar el pedido." : "Completa todos los campos correctamente para ingresar un nuevo pedido."}}</h6>
        </div>
      </div>
      <form class="row" [formGroup]="form" (ngSubmit)="submit()">
        <div class="col-md-12 col-lg-12">
          <h5><b>Información del Cliente</b></h5>
        </div>
        <div class="col-md-12 col-lg-12">
          <div class="card mt-3">
            <div class="card-body row">
              <div class="mb-3 col-lg-4 col-ms-4">
                <label for="input" class="form-label">Tipo de documento</label>
                <select class="form-select" placeholder="Selecciona el tipo de documento" formControlName="documentoTipo"
                  aria-label="Tipo de documento"
                  [ngClass]="{'is-invalid' : form.controls['documentoTipo'].invalid && (form.controls['documentoTipo'].dirty || form.controls['documentoTipo'].touched)}">
                  <option selected value="">Selecciona el tipo de documento</option>
                  <option value="0">Cédula</option>
                  <option value="1">RUC</option>
                  <option value="2">Otro</option>
                </select>
                <div class="form-text">Tipo de documento de identidad (Ej: RUC o CI).</div>
                <ng-container
                  *ngIf="form.controls['documentoTipo'].invalid && (form.controls['documentoTipo'].dirty || form.controls['documentoTipo'].touched)">
                  <div class="invalid-feedback" *ngIf="form.controls['documentoTipo'].errors.required">Es necesario que
                    selecciones el tipo de documento.</div>
                </ng-container>
              </div>
              <div class="mb-3 col-lg-8 col-ms-8">
                <label for="input" class="form-label">Documento</label>
                <div style="position:relative">
                  <input type="text" formControlName="documentoValor" class="form-control" aria-describedby="help"
                    placeholder="XXXXXXXXXX"
                    [ngClass]="{'is-invalid' : form.controls['documentoValor'].invalid && (form.controls['documentoValor'].dirty || form.controls['documentoValor'].touched)}">
                  <div class="pa-button" *ngIf="!data || data?.estado === 0">
                    <button type="button" *ngIf="form.value['id']" class="btn btn-primary black" (click)="modify()" style="margin-right:5px"><ion-icon name="pencil-outline"></ion-icon></button>
                    <button type="button" *ngIf="!form.value['id']" class="btn btn-primary black" (click)="add()" style="margin-right:5px"><ion-icon name="add-outline"></ion-icon></button>
                    <button type="button" class="btn btn-primary skyler" (click)="searchUser()">Buscar</button>
                  </div>
                  <div class="form-text">Documento de identidad (Ej: 1710000091).</div>
                  <ng-container
                    *ngIf="form.controls['documentoValor'].invalid && (form.controls['documentoValor'].dirty || form.controls['documentoValor'].touched)">
                    <div class="invalid-feedback" *ngIf="form.controls['documentoValor'].errors.required">Es necesario que
                      ingreses el documento.</div>
                    <div class="invalid-feedback" *ngIf="form.controls['documentoValor'].errors.documentNotValid">El documento
                      no es válido.</div>
                  </ng-container>
                </div>
              </div>
              <div class="mb-3 col-lg-6 col-ms-12">
                <label for="input" class="form-label">Nombre</label>
                <input type="text" class="form-control" aria-describedby="help" placeholder="Juan" formControlName="nombre"
                  [ngClass]="{'is-invalid' : form.controls['nombre'].invalid && (form.controls['nombre'].dirty || form.controls['nombre'].touched)}">
                <div class="form-text">Nombre del cliente (Ej: Juan).</div>
                <ng-container
                  *ngIf="form.controls['nombre'].invalid && (form.controls['nombre'].dirty || form.controls['nombre'].touched)">
                  <div class="invalid-feedback" *ngIf="form.controls['nombre'].errors.required">Es necesario que ingreses el
                    nombre.</div>
                </ng-container>
              </div>
              <div class="mb-3 col-lg-6 col-ms-12">
                <label for="input" class="form-label">Apellido</label>
                <input type="text" class="form-control" aria-describedby="help" placeholder="Perez" formControlName="apellido"
                  [ngClass]="{'is-invalid' : form.controls['apellido'].invalid && (form.controls['apellido'].dirty || form.controls['apellido'].touched)}">
                <div class="form-text">Apellido del cliente (Ej: Rodríguez).</div>
                <ng-container
                  *ngIf="form.controls['apellido'].invalid && (form.controls['apellido'].dirty || form.controls['apellido'].touched)">
                  <div class="invalid-feedback" *ngIf="form.controls['apellido'].errors.required">Es necesario que ingreses el
                    apellido.</div>
                </ng-container>
              </div>
              <div class="mb-3 col-lg-4 col-ms-4">
                <label for="input" class="form-label">Correo</label>
                <input type="email" class="form-control" aria-describedby="help" placeholder="ejemplo@hotmail.com"
                  formControlName="email"
                  [ngClass]="{'is-invalid' : form.controls['email'].invalid && (form.controls['email'].dirty || form.controls['email'].touched)}">
                <div class="form-text">Correo del cliente (Ej: ejemplo@hotmail.com).</div>
                <ng-container
                  *ngIf="form.controls['email'].invalid && (form.controls['email'].dirty || form.controls['email'].touched)">
                  <div class="invalid-feedback" *ngIf="form.controls['email'].errors.required">Es necesario que ingreses un
                    correo.</div>
                  <div class="invalid-feedback" *ngIf="form.controls['email'].errors.email">Es necesario que ingreses un
                    correo válido.</div>
                </ng-container>
              </div>
              <div class="mb-3 col-lg-4 col-ms-4">
                <label for="input" class="form-label">Teléfono</label>
                <input type="phone" class="form-control" aria-describedby="help" placeholder="0989XXXXXX"
                  formControlName="telefono"
                  [ngClass]="{'is-invalid' : form.controls['telefono'].invalid && (form.controls['telefono'].dirty || form.controls['telefono'].touched)}">
                <div class="form-text">Teléfono del cliente (Ej: 0989300000).</div>
                <ng-container
                  *ngIf="form.controls['telefono'].invalid && (form.controls['telefono'].dirty || form.controls['telefono'].touched)">
                  <div class="invalid-feedback" *ngIf="form.controls['telefono'].errors.required">Es necesario que ingreses un
                    teléfono.</div>
                </ng-container>
              </div>
              <div class="mb-3 col-lg-4 col-ms-12">
                <label for="input" class="form-label">Provincia</label>
                <select (change)="setCantones()" class="form-select" aria-describedby="help" placeholder="Pichincha"
                  formControlName="provincia"
                  [ngClass]="{'is-invalid' : form.controls['provincia'].invalid && (form.controls['provincia'].dirty || form.controls['provincia'].touched)}">
                  <option selected value="">Selecciona la Provincia</option>
                  <option *ngFor="let prov of provs" [value]="prov.id">{{prov.id}}</option>
                </select>
                <div class="form-text">Provincia en la que vive el cliente.</div>
                <ng-container
                  *ngIf="form.controls['provincia'].invalid && (form.controls['provincia'].dirty || form.controls['provincia'].touched)">
                  <div class="invalid-feedback" *ngIf="form.controls['provincia'].errors.required">Es necesario que ingreses
                    una Provincia.</div>
                </ng-container>
              </div>
              <div class="mb-3 col-lg-4 col-ms-12">
                <label for="input" class="form-label">Cantón</label>
                <select class="form-select" aria-describedby="help" formControlName="canton"
                  [ngClass]="{'is-invalid' : form.controls['canton'].invalid && (form.controls['canton'].dirty || form.controls['canton'].touched)}">
                  <option selected value="">Selecciona el Cantón</option>
                  <option *ngFor="let can of cantones" [value]="can">{{can}}</option>
                </select>
                <div class="form-text">Cantón en el que vive el cliente.</div>
                <ng-container
                  *ngIf="form.controls['canton'].invalid && (form.controls['canton'].dirty || form.controls['canton'].touched)">
                  <div class="invalid-feedback" *ngIf="form.controls['canton'].errors.required">Es necesario que selecciones
                    un Cantón.</div>
                </ng-container>
              </div>
              <div class="mb-3 col-lg-4 col-ms-12">
                <label for="input" class="form-label">Dirección</label>
                <input type="email" class="form-control" aria-describedby="help" placeholder="Av. del Maestro"
                  formControlName="direccion"
                  [ngClass]="{'is-invalid' : form.controls['direccion'].invalid && (form.controls['direccion'].dirty || form.controls['direccion'].touched)}">
                <div class="form-text">Dirección del cliente para los envíos.</div>
                <ng-container
                  *ngIf="form.controls['direccion'].invalid && (form.controls['direccion'].dirty || form.controls['direccion'].touched)">
                  <div class="invalid-feedback" *ngIf="form.controls['direccion'].errors.required">Es necesario que ingreses
                    una dirección.</div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-3 col-lg-12">
          <h5><b>Información del Pedido</b></h5>
          <button *ngIf="!data || data?.estado === 0" type="button" class="btn btn-primary skyler active" (click)="selectProducts()"><ion-icon name="cube-outline"></ion-icon> Seleccionar Productos</button>
          <div class="card mt-3">
            <div class="card-body">
              <table class="table table-hover table-dynamic" style="width:100%">
                <thead class="datatable-header">
                  <tr>
                    <th style="width:64px"></th>
                    <th (click)="sort('nombre')" class="btn-style">
                      Nombre
                      <ion-icon name="arrow-down-outline" *ngIf="sortDirection == 1 && orderHeader === 'nombre'">
                      </ion-icon>
                      <ion-icon name="arrow-up-outline" *ngIf="sortDirection == 2 && orderHeader === 'nombre'"></ion-icon>
                    </th>
                    <th (click)="sort('stock')" class="btn-style">
                      Cantidad
                      <ion-icon name="arrow-down-outline" *ngIf="sortDirection == 1 && orderHeader === 'stock'">
                      </ion-icon>
                      <ion-icon name="arrow-up-outline" *ngIf="sortDirection == 2 && orderHeader === 'stock'">
                      </ion-icon>
                    </th>
                    <th (click)="sort('precio')" class="btn-style">
                      Precio
                      <ion-icon name="arrow-down-outline" *ngIf="sortDirection == 1 && orderHeader === 'precio'">
                      </ion-icon>
                      <ion-icon name="arrow-up-outline" *ngIf="sortDirection == 2 && orderHeader === 'precio'">
                      </ion-icon>
                    </th>
                    <th (click)="sort('categoryName')" class="btn-style">
                      Subtotal
                      <ion-icon name="arrow-down-outline" *ngIf="sortDirection == 1 && orderHeader === 'categoryName'">
                      </ion-icon>
                      <ion-icon name="arrow-up-outline" *ngIf="sortDirection == 2 && orderHeader === 'categoryName'"></ion-icon>
                    </th>
                  </tr>
                </thead>
                <tbody class="datatable-body">
                  <ng-container *ngFor="let product of products | orderBy: orderHeader: isDescOrder | filterBy: searchInput ; let i = index">
                    <tr>
                      <td>
                        <ion-label>
                          <ion-avatar>
                            <img [src]="product.foto" />
                            <button type="button" class="btn btn-danger redline" (click)="product.selected = false">
                              <ion-icon name="trash-outline"></ion-icon>
                            </button>
                          </ion-avatar>
                        </ion-label>
                      </td>
                      <td class="align-middle">
                        <ion-label>
                          <h3 class="table-dynamic-hide"><b>Nombre</b></h3>
                          <h2>{{product.nombre}}</h2>
                        </ion-label>
                        <ion-label>
                          <h3 class="table-dynamic-hide"><b><small>SKU</small></b></h3>
                          <small>{{product.sku}}</small>
                        </ion-label>
                      </td>
                      <td class="align-middle">
                        <ion-label>
                          <h3 class="table-dynamic-hide"><b>Cantidad</b></h3>
                          <div class="flex-stock">
                            <input [disabled]="data && data?.estado !== 0" [ngClass]="(product.cantidad > 0 && product.stock < product.cantidad) ? 'is-invalid':''" id="number" class="form-control" [ngModelOptions]="{standalone: true}" type="number" min="1" [max]="product.stock" [(ngModel)]="product.cantidad" (ngModelChange)="validateQuantity(product)" style="width:100px;text-align: center;"/>
                          </div>
                        </ion-label>
                      </td>
                      <td class="align-middle">
                        <ion-label>
                          <h3 class="table-dynamic-hide"><b>Precio</b></h3>
                          {{ product.precio | currency }}
                        </ion-label>
                      </td>
                      <td class="align-middle">
                        <ion-label>
                          <h3 class="table-dynamic-hide"><b>Subtotal</b></h3>
                          {{product?.precio * product?.cantidad | currency}}
                        </ion-label>
                      </td>
                    </tr>
                  </ng-container>
                  <tr>
                    <td></td>
                    <td class="align-middle"></td>
                    <td class="align-middle"></td>
                    <td class="align-middle"><b>IVA ({{total.ivaPorcentaje * 100 | number:'1.0-2'}}%)</b></td>
                    <td class="align-middle">{{total.iva | currency}}</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td class="align-middle"></td>
                    <td class="align-middle"></td>
                    <td class="align-middle"><b>Total</b></td>
                    <td class="align-middle">{{total.total | currency}}</td>
                  </tr>
                </tbody>
              </table>
              <ng-container *ngIf="(products | filterBy: searchInput)?.length === 0">
                <div class="text-center"><i>No se han seleccionado productos.</i></div><br/>
              </ng-container>
              <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="p = $event"></pagination-controls>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-12">
          <h5><b>Información Extra</b></h5>
        </div>
        <div class="col-md-12 col-lg-12 mb-3">
          <div class="card mt-3">
            <div class="card-body row">
              <div class="mb-3 col-lg-4 col-ms-4">
                <label for="input" class="form-label">Estado</label>
                <select class="form-select" placeholder="Selecciona el estado del pedido" formControlName="estado"
                  aria-label="Tipo de documento"
                  [ngClass]="{'is-invalid' : form.controls['estado'].invalid && (form.controls['estado'].dirty || form.controls['estado'].touched)}">
                  <option selected value="">Selecciona el estado del pedido</option>
                  <option value="0">Pendiente</option>
                  <option value="1">Completado</option>
                  <option value="2">Cancelado</option>
                </select>
                <div class="form-text">Estado del pedido (pendiente, completado o cancelado).</div>
                <ng-container
                  *ngIf="form.controls['estado'].invalid && (form.controls['estado'].dirty || form.controls['estado'].touched)">
                  <div class="invalid-feedback" *ngIf="form.controls['estado'].errors.required">Es necesario que
                    selecciones el estado del pedido.</div>
                </ng-container>
              </div>
              <div class="mb-3 col-lg-12 col-ms-12">
                <label for="input" class="form-label">Descripción</label>
                <div style="position:relative">
                  <textarea type="text" formControlName="descripcion" class="form-control" aria-describedby="help" placeholder="" [ngClass]="{'is-invalid' : form.controls['descripcion'].invalid && (form.controls['descripcion'].dirty || form.controls['descripcion'].touched)}"></textarea>
                  <div class="form-text">Campo opcional.</div>
                  <ng-container
                    *ngIf="form.controls['descripcion'].invalid && (form.controls['descripcion'].dirty || form.controls['descripcion'].touched)">
                    <div class="invalid-feedback" *ngIf="form.controls['descripcion'].errors.required">Es necesario que ingreses la descripción.</div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-3 col-lg-12" *ngIf="!data || data?.estado === 0">
          <button type="submit" class="btn btn-primary skyler">{{data ? "Actualizar" : "Agregar Pedido"}}</button>
        </div>
      </form>
    </div>
  </div>
</ion-content>